.modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(34, 13, 91, 0.32);
  backdrop-filter: blur(3.5px) var(--glass-filter-soft);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modalContent {
  width: 100%;
  max-width: 533px;
  min-height: 447px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    0deg,
    rgba(115, 78, 245, 0.92) 0%,
    rgba(96, 50, 222, 0.92) 36%,
    rgba(146, 86, 240, 0.92) 61%,
    rgba(196, 122, 248, 0.92) 100%
  );
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px) var(--glass-filter);
}

.logoGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
}

.icon {
  fill: #e0aaff;
  width: 182px;
  height: 76px;
}

.modalText {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 52px;
  color: #ffffff;
}

.br {
  display: none;
}

.modalActions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btnLogout,
.btnCancel {
  width: 100%;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
  transition: transform 0.2s ease;
}

.btnLogout {
  background: var(--button-gradient);
  color: #ffffff;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
}

.btnCancel {
  background: var(--button-color);
  color: var(--text-button);
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
}

@media (hover: hover) {
  .btnLogout:hover,
  .btnCancel:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 767.98px) {
  .modalContent {
    max-width: 320px;
    min-height: auto;
    padding: 32px 16px;
  }

  .icon {
    width: 138px;
    height: auto;
  }

  .modalText {
    font-size: 13px;
    margin-bottom: 28px;
  }

  .br {
    display: inline;
  }

  .btnLogout,
  .btnCancel {
    max-width: 280px;
  }
}
