.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.balance {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.currency {
    grid-area: currency;
}

@media (min-width: 768px) {
    .balance {
        display: none;
    }

    .container {
        gap: 30px;
        max-width: 710px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .sidebar {
        display: grid;
        width: 100%;
        max-width: 710px;
        margin: 0 auto;

        border-right: none;
        padding-right: 0;

        gap: 28px 32px;
        grid-template-columns: 336px 336px;
        grid-template-areas:
            "navigation currency"
            "balance currency";
        justify-content: space-between;
    }
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        gap: 69px;
        max-width: none;
        margin: 0;
    }
}