.header {
    height: 80px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #2E225F 0%, #2E1746 100%);
    box-shadow: 0px -3px 2px 0px #0000001A inset;

}

.logoWrapper {
    display: flex;
    flex-direction: column;
    /* icon üstte, yazı altta */
    align-items: center;
    gap: 4px;
}

.logoIcon {
    width: 32px;
    height: 32px;
}

.logoText {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.02em;
}

.userBlock {
    display: flex;
    align-items: center;
    gap: 12px;

    color: rgba(255, 255, 255, 0.8);
}

.userName {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    opacity: 0.6;

}

.divider {
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
}

.exitBtn {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 14px;
    height: 18px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.exitBtn svg {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
}

.exitBtn:hover {
    color: #ffb627;
}

.exitText {
    opacity: 0.6;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}